// variables ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Colors
$background: #0b0f2b;
$menu_background: #0b0f2bd5;
$darkgreygreen: #6e8898;
$lightgreygreen: #9fb1bc;
$beige: #d3d0cb;
$yellow: #e2c044;
$code: lightgreen;
$nav-font-color: #ffffff;
$link-hover-color: #2581dc;

// Sizes
$largescreen: 1600px;
$mediumlargescreen: 1250px;
$mediumscreen: 900px;
$smallscreen: 700px;
$nav-height: 80px;
