// variables ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Colors
$background: #06070f;
$menu_background: #06070faf;
$darkgreygreen: #b8d3e4;
$lightgreygreen: #cbe1ee;
$beige: #d3d0cb;
$yellow: #e2c044;
$code: lightgreen;
$nav-font-color: #ffffff;
$link-hover-color: #2581dc;

// Sizes
$largescreen: 1600px;
$mediumlargescreen: 1250px;
$mediumscreen: 1020px;
$smallscreen: 700px;
$nav-height: 80px;
