@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Coda);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100);
.nameHeading {
  color: #d3d0cb;
  font-style: strong;
}

.titleDescriptionText {
  margin-right: 0%;
}

#home {
  height: 50vh;
  left: 20%;
  padding-top: 15vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20vh;
}

#home h1 {
  font-size: 70px;
}

#home h2 {
  font-size: 40px;
  font-family: PT Sans;
  color: #b8d3e4;
}

#home p {
  width: 50%;
  margin-top: 5vh;
}

@media only screen and (max-width: 1600px) {
  #home {
    left: 10%;
    padding-top: 10vh;
  }
}

@media only screen and (max-width: 1250px) {
  #home {
    left: 10%;
    padding-top: 10vh;
  }
}

@media only screen and (max-width: 1020px) {
  #home {
    left: 5%;
    width: 90%;
    padding-top: 20vh;
  }
  #home p {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  #home {
    left: 5%;
    width: 90%;
  }
  #home h1 {
    font-size: 40px;
  }
  #home h2 {
    font-size: 30px;
    font-family: PT Sans;
    color: #b8d3e4;
  }
}

#contact {
  height: 100vh;
  text-align: right;
  left: 20%;
  width: 60%;
  padding-top: 15vh;
}

#contact .aboutHorizontalLine {
  width: 100%;
}

#contact p {
  width: 60%;
  float: right;
}

#contact h2 {
  width: 100%;
  text-align: right;
  line-height: 0px;
  margin: 20px 0 20px;
  height: 0px;
  border-bottom: 0px solid white;
}

#contact h2 code {
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
}

#contact h2 span {
  background: #06070f;
  padding-left: 10px;
  margin-right: -1px;
}

.contactDescription {
  background: #06070f;
}

@media only screen and (max-width: 1600px) {
  #contact {
    display: block;
    padding-top: 20vw;
    left: 10%;
    width: 80%;
  }
  #contact .aboutHorizontalLine {
    margin-top: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 1250px) {
  #contact p {
    width: 80%;
    float: right;
  }
}

@media only screen and (max-width: 1020px) {
  #contact {
    left: 5%;
    width: 90%;
  }
  #contact p {
    width: 90%;
    float: right;
  }
}

#mlu {
  -ms-grid-column: 1;
  grid-column: 1;
}

#inferno {
  -ms-grid-column: 2;
  grid-column: 2;
}

#starman {
  -ms-grid-column: 3;
  grid-column: 3;
}

#portfolio {
  height: 100%;
  left: 20%;
  width: 60%;
  padding-top: 15vh;
}

#portfolio h2 {
  width: 100%;
  text-align: center;
  line-height: 0px;
  margin: 20px 0 20px;
  height: 0px;
  border-bottom: 0px solid white;
}

#portfolio h2 code {
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
}

#portfolio h2 span {
  background: #06070f;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 1600px) {
  #portfolio {
    display: inline-block;
    padding-top: 15vh;
    left: 10%;
    width: 80%;
  }
}

@media only screen and (max-width: 1020px) {
  #portfolio {
    display: inline-block;
    padding-top: 15vh;
    left: 5%;
    width: 90%;
  }
}

.aboutDescriptionText {
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
}

.aboutBulletList {
  margin-left: 20px;
}

.aboutBulletList p {
  text-decoration: underline;
  color: lightgreen;
}

.aboutBulletList ul {
  list-style: none;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.aboutBulletList li {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 2em;
}

.aboutBulletList ul li::before {
  content: "";
  color: lightgreen;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -3em;
}

.aboutProfileImg {
  width: 100%;
  margin-top: 10%;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-box-shadow: 20px 20px midnightblue;
          box-shadow: 20px 20px midnightblue;
  -webkit-transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
}

.aboutProfileImgSlot {
  padding-top: 25px;
  justify-self: flex-end;
  text-align: right;
  margin-left: 10%;
}

.aboutProfileImg:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-box-shadow: 10px 10px midnightblue;
          box-shadow: 10px 10px midnightblue;
}

.aboutHorizontalLine {
  width: 100%;
  margin-top: 0px;
  border: 0px solid #06070f;
}

.aboutContentContainer {
  display: block;
  width: 50%;
}

.aboutBulletListContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 20px;
}

.aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about {
  height: 100vh;
  left: 20%;
  padding-top: 15vh;
  width: 60%;
  display: inline-block;
}

#about h2 {
  width: 100%;
  text-align: left;
  line-height: 0px;
  margin: 20px 0 20px;
  height: 0px;
  border-bottom: 0px solid white;
}

#about h2 code {
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
}

#about h2 span {
  background: #06070f;
  padding-right: 10px;
  margin-left: -1px;
}

@media only screen and (max-width: 1600px) {
  #about {
    display: block;
    width: 80%;
    left: 10%;
    height: 100%;
  }
  #about .aboutHorizontalLine {
    margin-top: 0px;
    left: 0%;
    width: 100%;
  }
  #about p {
    text-align: left;
    width: 100%;
  }
  #about ul {
    text-align: left;
  }
  #about .aboutContentContainer {
    display: block;
    width: 100%;
  }
  #about .aboutBulletList {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media only screen and (max-width: 1250px) {
  #about {
    display: block;
    left: 10%;
    width: 80%;
    height: 100%;
  }
  #about .aboutHorizontalLine {
    margin-top: 0px;
    left: 0%;
    width: 100%;
  }
  #about p {
    left: 0%;
    text-align: left;
    width: 90%;
  }
  #about ul {
    text-align: left;
    width: 100%;
  }
  #about ul li::before {
    font-weight: bold;
    display: inline;
    margin-left: -3em;
  }
  #about .aboutContentContainer {
    display: block;
  }
  #about .aboutBulletList {
    -webkit-column-count: 1;
            column-count: 1;
  }
  #about .aboutFlexContainer {
    display: block;
  }
  #about .aboutProfileImg {
    width: 70%;
    padding: 10px;
  }
  #about .aboutProfileImgSlot {
    text-align: center;
    padding-top: 25px;
    width: 100%;
    float: right;
  }
}

@media only screen and (max-width: 1020px) {
  #about {
    display: block;
    left: 5%;
    width: 90%;
  }
  #about .aboutHorizontalLine {
    margin-top: 0px;
    left: 0%;
    width: 100%;
  }
  #about p {
    left: 3%;
    text-align: left;
    width: 90%;
  }
  #about .aboutBulletListContainer {
    display: block;
    padding-left: 20%;
  }
  #about .aboutBulletListContainer ul {
    list-style: none;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media only screen and (max-width: 700px) {
  #about {
    display: block;
    left: 5%;
    width: 90%;
  }
  #about .aboutHorizontalLine {
    margin-top: 0px;
    left: 0%;
    width: 100%;
  }
  #about p {
    left: 0%;
    text-align: left;
    width: 90%;
  }
  #about .aboutBulletListContainer {
    display: block;
    padding-left: 15px;
  }
  #about .aboutBulletListContainer ul {
    list-style: none;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lightgreen;
}

body {
  background-color: #06070f;
  font-family: Quicksand;
  font-size: 17px;
  color: #cbe1ee;
}

h1 {
  font-size: 70px;
  font-family: PT Sans;
  font-weight: 1000;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: PT Sans;
}

h3 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: lightgreen;
}

p {
  position: relative;
  line-height: 1.5;
}

@media only screen and (max-width: 1600px) {
  body {
    text-align: left;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding-top: 5px;
}

section {
  position: relative;
  z-index: 0;
  display: inline-block;
}

@media only screen and (max-width: 1600px) {
  section {
    padding-top: 50px;
    height: 100%;
  }
}

@media screen and (-webkit-device-pixel-ratio) {
  .line1 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line2 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line3 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line4 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line5 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
    text-shadow: 1px 1px 1px #222222;
  }
}

header {
  height: 80px;
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
}

.headerContainer {
  background-color: #06070faf;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.closeMobileHeader {
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.headerMobileMenuIcon {
  float: right;
  font-size: 20px;
  display: none;
}

.headerLogo {
  float: left;
  font-size: 30px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
  color: lightgreen;
  margin-top: 20px;
}

.headerLogo a {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px 0px rgba(32, 77, 226, 0.24);
          box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px 0px rgba(32, 77, 226, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(1, 1, 1, 1);
  transition: all 0.3s cubic-bezier(1, 1, 1, 1);
}

.headerLogo a:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25), 10px 10px 10px rgba(72, 41, 211, 0.22);
          box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25), 10px 10px 10px rgba(72, 41, 211, 0.22);
}

.headerMenu {
  float: right;
  font-family: "Courier New", Courier, monospace;
  color: #cbe1ee;
  margin-top: 10px;
}

.headerMenu li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px 0px rgba(32, 77, 226, 0.24);
          box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px 0px rgba(32, 77, 226, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(1, 1, 1, 1);
  transition: all 0.3s cubic-bezier(1, 1, 1, 1);
}

.headerMenu li:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25), 10px 10px 10px rgba(72, 41, 211, 0.22);
          box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25), 10px 10px 10px rgba(72, 41, 211, 0.22);
}

.margin0percent {
  margin-left: 0px;
  margin-right: 0px;
}

@media only screen and (max-width: 1020px) {
  header {
    background-color: #06070faf;
    height: 45px;
    padding: 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .headerMenu {
    display: none;
  }
  .headerLogo {
    float: left;
    font-size: 26px;
    font-family: PT Sans;
    color: #b8d3e4;
    margin-top: 10px;
  }
  .headerLogo a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .closeMobileHeader {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

@media only screen and (max-width: mediumscreen) {
  .menu {
    display: block;
  }
}

#nav-icon3 {
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  margin-top: 7px;
  float: right;
  display: none;
}

#nav-icon3 span {
  position: absolute;
  height: 1px;
  border-radius: 10%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px;
  width: 100%;
  left: 0%;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
  width: 100%;
  left: 0%;
}

#nav-icon3 span:nth-child(4) {
  top: 37px;
  width: 100%;
  left: 0%;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 100%;
  left: 0%;
  display: none;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 0%;
  display: none;
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.menu {
  z-index: 3;
  font-weight: bold;
  font-size: 25px;
  width: 99%;
  position: absolute;
  text-align: center;
  margin-top: 85px;
  display: none;
}

.menu code {
  font-size: 20px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 25px;
  border-bottom: 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.menu a {
  text-decoration: none;
  color: #cbe1ee;
}

.menu ul li a:hover {
  color: white;
}

.glyphicon-home {
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}

@media only screen and (max-width: 1020px) {
  span {
    padding-left: 0px;
  }
  #span1 {
    padding-right: 0px;
  }
  #span2 {
    padding-right: 0px;
  }
  #nav-icon3 {
    display: inline;
  }
}

footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  width: 100%;
}

button {
  background-color: inherit;
  color: #cbe1ee;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 20px;
  border-width: 0px;
  -webkit-transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  -webkit-box-shadow: 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px rgba(32, 77, 226, 0.24);
          box-shadow: 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px rgba(32, 77, 226, 0.24);
}

button:hover {
  color: #d3d0cb;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(55, 17, 160, 0.12), 8px 8px 8pxrgba 32, 77, 226, 0.24;
          box-shadow: 2px 2px 2px rgba(55, 17, 160, 0.12), 8px 8px 8pxrgba 32, 77, 226, 0.24;
}

button:focus {
  outline: 0;
}

.card {
  border: 1px solid #b8d3e4;
  border-radius: 0%;
  height: 570px;
  width: 310px;
  position: relative;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
}

.card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: rgba(0, 23, 65, 0.253);
  color: white;
  border: 1px solid #489dcf;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.card-1 {
  -webkit-box-shadow: 1px 1px 1px rgba(55, 17, 160, 0.12), 1px 1px 1px rgba(132, 32, 226, 0.24);
          box-shadow: 1px 1px 1px rgba(55, 17, 160, 0.12), 1px 1px 1px rgba(132, 32, 226, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  -webkit-box-shadow: 0 14px 28px rgba(62, 65, 231, 0.25), 0 10px 10px rgba(72, 41, 211, 0.22);
          box-shadow: 0 14px 28px rgba(62, 65, 231, 0.25), 0 10px 10px rgba(72, 41, 211, 0.22);
}

.cardTitle {
  padding: 5px;
}

.cardDescription {
  padding: 5px;
}

.cardTech {
  padding: 5px;
  font-size: 14px;
  display: inline;
}

.cardTech ul {
  list-style: none;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.cardTech li {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5em;
}

.cardTech ul li::before {
  content: "";
  width: 1em;
  margin-left: -2em;
}

.cardLinks {
  padding: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
}

.cardLinks a {
  padding: 10px;
  font-size: 25px;
}

.cardLinks:hover a {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 1600px) {
  .cardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1020px) {
  .card {
    display: block;
    position: relative;
    padding: 15px;
    width: 80%;
    height: 50%;
  }
  .cardLinks {
    text-align: right;
  }
  .cardLinks a {
    padding: 15px;
    font-size: 25px;
  }
}

.gradient-border {
  --border-width: 1px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #06070f;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #000, #071d50, #3c2259, #762d65, #000, #94383a, #b19443, #90c15c, #72ca87, #90d5d4);
  background-size: 500% 500%;
  background-position: 0 100%;
  border-radius: calc(2 * var(--border-width));
  -webkit-animation: moveGradient 90s alternate infinite;
          animation: moveGradient 90s alternate infinite;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.socialContainer {
  width: 10px;
  height: 285px;
  position: absolute;
  left: 9px;
  font-size: 20px;
  bottom: 30px;
  line-height: 60px;
  padding-left: 0px;
  padding-right: 15px;
}

.socialContainer a i {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px 0px rgba(32, 77, 226, 0.24);
          box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12), 0px 0px 0px 0px rgba(32, 77, 226, 0.24);
  -webkit-transition: all 0.2s cubic-bezier(1, 1, 1, 1);
  transition: all 0.2s cubic-bezier(1, 1, 1, 1);
}

.socialContainer a i:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25), 5px 5px 5px rgba(72, 41, 211, 0.22);
          box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25), 5px 5px 5px rgba(72, 41, 211, 0.22);
}

@media only screen and (max-width: 1020px) {
  .socialContainer {
    display: none;
  }
}

.verticalLine-Left {
  height: 100vh;
  position: absolute;
  left: 30px;
  top: 1vh;
  bottom: 0px;
}

.headerHorizontalLine {
  width: 90%;
  margin-top: 36px;
  margin-left: 68px;
  position: absolute;
  z-index: -1;
}

#socialLine {
  bottom: 0%;
  top: 100%;
}

@media only screen and (max-width: 1020px) {
  .headerHorizontalLine {
    display: none;
  }
  .verticalLine-Left {
    display: none;
  }
}

@media only screen and (max-height: 855px) {
  .verticalLine-Left {
    top: 65vh;
    height: 600px;
  }
}

@media only screen and (max-height: 744px) {
  .verticalLine-Left {
    top: 60vh;
    height: 600px;
  }
}

@media only screen and (max-height: 648px) {
  .verticalLine-Left {
    top: 55vh;
    height: 600px;
  }
}

@media only screen and (max-height: 578px) {
  .verticalLine-Left {
    top: 50vh;
    height: 600px;
  }
}

@media only screen and (max-height: 517px) {
  .verticalLine-Left {
    top: 45vh;
    height: 600px;
  }
}

@media only screen and (max-height: 472px) {
  .verticalLine-Left {
    top: 40vh;
    height: 600px;
  }
}

.contact-container {
  max-width: 600px;
  width: 100%;
  float: right;
}

#contact h3 {
  color: lightgreen;
  display: block;
  font-size: 25px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="url"],
#contact textarea {
  width: 80%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  border: none;
  background: #06070f;
  color: lightgreen;
  margin-top: 10px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
}

#contact button[type="submit"]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.featureCard {
  border-radius: 1%;
  position: relative;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.featureProjectLeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.featureThumbnailContainer {
  height: auto;
  margin-top: 0;
  display: inline-block;
}

.featureProjectLeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featureThumbnail1 {
  width: 97%;
  height: 280px;
  padding: 5px;
}

.featureThumbnail2 {
  width: 47%;
  height: auto;
  padding: 5px;
}

.featureThumbnail3 {
  width: 47%;
  height: auto;
  padding: 5px;
}

.featureThumbnail4 {
  width: 47%;
  height: auto;
  padding: 5px;
}

.featureThumbnail5 {
  width: 47%;
  height: auto;
  padding: 5px;
}

.featureCard-1 {
  border-radius: 55px;
  background: #0b0f2b;
  -webkit-box-shadow: 1px 1px 2px #050714, -5px -5px 7px #111742;
          box-shadow: 1px 1px 2px #050714, -5px -5px 7px #111742;
  -webkit-transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
}

.featureCardInfoContainer {
  display: -ms-grid;
  display: grid;
  width: 50%;
}

.featureCardInfoContainer h3 {
  padding-top: 10px;
  text-align: center;
}

.featureCardTitle {
  font-size: 40px;
  text-align: center;
  padding: 5px;
  text-align: right;
  -ms-grid-row: 2;
  grid-row: 2;
}

.featureCardDescription {
  padding: 15px;
  background: #392074;
  text-align: right;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -webkit-box-shadow: 0 0 0 rgba(55, 17, 160, 0.12), 0 0 0 rgba(132, 32, 226, 0.24);
          box-shadow: 0 0 0 rgba(55, 17, 160, 0.12), 0 0 0 rgba(132, 32, 226, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.featureCardDescription:hover {
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 4px #489dcf, -4px -4px 4px #62d5ff;
          box-shadow: 4px 4px 4px #489dcf, -4px -4px 4px #62d5ff;
}

.featureCardLinks {
  -ms-grid-row: 6;
  grid-row: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

.featureCardLinks a {
  font-size: 27px;
  -webkit-transition: all 0.2s cubic-bezier(1, 1, 1, 1);
  transition: all 0.2s cubic-bezier(1, 1, 1, 1);
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
}

.featureCardLinks a #GooglePlay {
  width: 190px;
  margin-right: 0px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  padding: 0px;
  margin: 0px;
}

.featureCardLinks a #AppStore {
  width: 190px;
  height: 56px;
  margin-right: 0px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.featureCardLinks a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.featureTech {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: right;
  -ms-grid-row: 5;
  grid-row: 5;
}

.featureTech p {
  display: inline;
  margin-right: 30px;
}

.featureTech p i {
  margin-right: 3px;
}

.featureTech ul {
  list-style: none;
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

.featureTech li {
  padding: 5px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
  line-height: 1em;
}

.featureTopline {
  padding: 5px;
  text-align: right;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-bottom: 0px;
}

.featureCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

@media only screen and (max-width: 1600px) {
  .featureCard {
    border-radius: 2%;
    position: relative;
    width: auto;
    margin: 0px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .featureCardContainer {
    display: block;
    padding: 5px;
  }
  .featureProjectLeftSide {
    display: block;
    width: auto;
  }
  .featureThumbnailContainer {
    display: block;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .featureCardInfoContainer {
    display: block;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100%;
  }
  .featureCardInfoContainer .featureCardTitle {
    text-align: center;
  }
  .featureCardInfoContainer .featureTopline {
    text-align: center;
  }
  .featureCardInfoContainer .featureCardDescription {
    text-align: left;
    margin: 20px;
    width: auto;
  }
  .featureThumbnail1 {
    margin-top: 10px;
    width: 100%;
  }
  .featureThumbnail2 {
    width: 47%;
    margin-top: 10px;
  }
  .featureThumbnail3 {
    width: 47%;
    margin-top: 10px;
  }
  .featureThumbnail4 {
    width: 47%;
    margin-top: 10px;
  }
  .featureCardDescription {
    width: 100%;
    margin-left: 0px;
  }
  .featureCardContainer {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
  }
  .featureCardTitle {
    font-size: 40px;
    text-align: center;
    padding: 5px;
    text-align: right;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .featureTopline {
    padding: 5px;
    text-align: right;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-bottom: 0px;
  }
  .featureTech {
    padding: 5px;
    text-align: right;
    -ms-grid-row: 5;
    grid-row: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .featureTech ul {
    list-style: none;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 6px;
            column-gap: 6px;
  }
  .featureTech li {
    padding: 10px;
    font-size: 16px;
    -webkit-transition: all 0.1s cubic-bezier(1, 1, 1, 1);
    transition: all 0.1s cubic-bezier(1, 1, 1, 1);
    line-height: 1em;
  }
  .featureCardLinks {
    padding: 5px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .featureCardLinks a {
    padding: 25px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .featureCardContainer {
    margin: 0px;
  }
  .featureCardInfoContainer {
    margin-left: 0px;
    padding-left: 0px;
  }
  .featureCardInfoContainer .featureCardDescription {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .featureCardLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featureCardLinks a {
    padding: 25px;
    font-size: 30px;
  }
  .featureThumbnailContainer {
    margin-left: -10px;
    margin-right: -15px;
  }
  .featureProjectLeftSide {
    margin-right: -15px;
    padding: 0px;
  }
  .featureThumbnail2 {
    width: 45%;
    margin-top: 10px;
  }
  .featureThumbnail3 {
    width: 45%;
    margin-top: 10px;
  }
  .featureThumbnail4 {
    width: 45%;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */