@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Coda);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100);
button {
  background-color: inherit;
  color: #9fb1bc;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 20px;
  border-width: 0px;
}

button:hover {
  color: #d3d0cb;
  font-weight: bold;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.card {
  background: #392074;
  border-radius: 3%;
  height: 450px;
  width: 300px;
  position: relative;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 170px;
}

.card-1 {
  -webkit-box-shadow: 0 1px 3px rgba(55, 17, 160, 0.12), 0 1px 2px rgba(132, 32, 226, 0.24);
          box-shadow: 0 1px 3px rgba(55, 17, 160, 0.12), 0 1px 2px rgba(132, 32, 226, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  -webkit-box-shadow: 0 14px 28px rgba(62, 65, 231, 0.25), 0 10px 10px rgba(72, 41, 211, 0.22);
          box-shadow: 0 14px 28px rgba(62, 65, 231, 0.25), 0 10px 10px rgba(72, 41, 211, 0.22);
}

.cardTitle {
  padding: 5px;
}

.cardDescription {
  padding: 5px;
}

.cardLinks {
  padding: 5px;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1370px) {
  .cardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    display: block;
    background: #3f247c;
    border-radius: 3%;
    position: relative;
    padding: 15px;
  }
}

.gradient-border {
  --border-width: 1px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000203;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #000203, #000203, #16213b, #3c2259, #762d65, #94383a, #b19443, #90c15c, #72ca87, #90d5d4);
  background-size: 500% 500%;
  background-position: 0 100%;
  border-radius: calc(2 * var(--border-width));
  -webkit-animation: moveGradient 20s alternate infinite;
          animation: moveGradient 20s alternate infinite;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@media only screen and (max-width: 1370px) {
  .gradient-border {
    --border-width: 1px;
  }
  .gradient-border::after {
    -webkit-animation: moveGradient 60s alternate infinite;
            animation: moveGradient 60s alternate infinite;
  }
}

.socialContainer {
  width: 10px;
  height: 285px;
  position: absolute;
  left: 9px;
  font-size: 20px;
  bottom: 30px;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.socialContainer a i {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .socialContainer {
    display: none;
  }
}

.verticalLine-Left {
  border: 1px solid clear;
  height: 100vh;
  position: absolute;
  left: 42px;
  margin-top: 25px;
  bottom: 0px;
  top: 0px;
}

.headerHorizontalLine {
  width: 90%;
  margin-top: 36px;
  margin-left: 68px;
  border: 1px solid clear;
  position: absolute;
}

#socialLine {
  bottom: 0%;
  top: 100%;
}

@media only screen and (max-width: 900px) {
  .headerHorizontalLine {
    display: none;
  }
  .verticalLine-Left {
    display: none;
  }
}

.contact-container {
  max-width: 600px;
  width: 100%;
  float: right;
}

#contact h3 {
  color: lightgreen;
  display: block;
  font-size: 25px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 80%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  border: none;
  background: #000203;
  color: lightgreen;
  margin-top: 10px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  border: 4px solid lightgreen;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.nameHeading {
  color: #d3d0cb;
  font-style: strong;
}

.titleDescriptionText {
  margin-right: 0%;
}

#home {
  height: 100vh;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 15vh;
}

#home h1 {
  font-size: 70px;
}

#home h2 {
  font-size: 40px;
  font-family: PT Sans;
  color: #6e8898;
}

#home p {
  width: 50%;
  margin-top: 5vh;
}

@media only screen and (max-width: 1370px) {
  #home {
    display: block;
    margin-left: 20vw;
    margin-right: 5vw;
    padding-top: 10vh;
  }
}

#contact {
  height: 100vh;
  text-align: right;
  margin-right: 15vw;
  margin-left: 20vw;
  width: 55%;
  padding-top: 15vh;
}

#contact .aboutHorizontalLine {
  width: 100%;
}

#contact p {
  width: 60%;
  padding-left: 38%;
}

#contact h2 {
  width: 100%;
  text-align: right;
  line-height: 0px;
  margin: 20px 0 20px;
  height: 0px;
  border-bottom: 0px solid white;
}

#contact h2 code {
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
}

#contact h2 span {
  background: #000203;
  padding-left: 10px;
  margin-right: -1px;
}

.contactDescription {
  background: #000203;
}

@media only screen and (max-width: 1370px) {
  #contact {
    display: block;
    margin-right: 15vw;
    padding-top: 10vw;
    margin-left: 20vw;
    width: 60vw;
  }
  #contact p {
    width: 50%;
  }
  #contact .aboutHorizontalLine {
    margin-top: 0px;
    width: 100%;
  }
  .contactDescription {
    background: #000203;
    margin-right: 0px;
    margin-left: 8vw;
  }
}

#mlu {
  -ms-grid-column: 1;
  grid-column: 1;
}

#inferno {
  -ms-grid-column: 2;
  grid-column: 2;
}

#starman {
  -ms-grid-column: 3;
  grid-column: 3;
}

#portfolio {
  height: 100%;
  margin-right: 20vw;
  margin-left: 20vw;
  width: 60%;
  padding-top: 15vh;
}

#portfolio h2 {
  width: 100%;
  text-align: center;
  line-height: 0px;
  margin: 20px 0 20px;
  height: 0px;
  border-bottom: 0px solid white;
}

#portfolio h2 code {
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
}

#portfolio h2 span {
  background: #000203;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 1370px) {
  #portfolio {
    display: inline-block;
    padding-top: 15vh;
    margin-left: 10vw;
    width: 80vw;
  }
}

.aboutDescriptionText {
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
}

.aboutBulletList {
  margin-left: 20px;
}

.aboutBulletList p {
  text-decoration: underline;
  color: lightgreen;
}

.aboutBulletList ul {
  list-style: none;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.aboutBulletList li {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 1.5em;
}

.aboutBulletList ul li::before {
  content: "\1F892";
  color: lightgreen;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -3em;
}

.aboutProfileImg {
  width: 70%;
  padding-right: 20px;
}

.aboutProfileImgSlot {
  text-align: right;
  padding-top: 25px;
  width: 100%;
  float: right;
}

.aboutHorizontalLine {
  width: 100%;
  margin-top: 0px;
  border: 0px solid #000203;
}

.aboutContentContainer {
  display: inline-block;
}

.aboutBulletListContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 20px;
}

.aboutFlexContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#about {
  height: 100vh;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 15vh;
  width: 60%;
  display: inline-block;
}

#about h2 {
  width: 100%;
  text-align: left;
  line-height: 0px;
  margin: 20px 0 20px;
  height: 0px;
  border-bottom: 0px solid white;
}

#about h2 code {
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
}

#about h2 span {
  background: #000203;
  padding-right: 10px;
  margin-left: -1px;
}

@media only screen and (max-width: 1370px) {
  .aboutProfilePic {
    text-align: center;
    border-radius: 50%;
    width: 100%;
  }
  #about {
    display: block;
    margin-left: 10vw;
    width: 80vw;
  }
  #about .aboutHorizontalLine {
    margin-top: 0px;
    left: 0%;
    width: 100%;
  }
  #about p {
    text-align: left;
    width: 100%;
  }
  #about ul {
    text-align: left;
  }
  #about .aboutContentContainer {
    display: block;
    margin-left: 0%;
    margin-right: 0%;
  }
  #about .aboutBulletList {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

body {
  background-color: #000203;
  font-family: Quicksand;
  font-size: 17px;
  color: #9fb1bc;
}

h1 {
  font-size: 70px;
  font-family: PT Sans;
  font-weight: 1000;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: PT Sans;
}

h3 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: lightgreen;
}

p {
  position: relative;
  line-height: 1.5;
}

@media only screen and (max-width: 1370px) {
  body {
    text-align: left;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding-top: 5px;
}

section {
  position: relative;
  z-index: 0;
  display: inline-block;
}

@media only screen and (max-width: 1370px) {
  section {
    padding-top: 50px;
    height: 100%;
  }
}

@media screen and (-webkit-device-pixel-ratio) {
  .line1 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line2 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line3 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line4 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    text-shadow: 1px 1px 1px #222222;
  }
}

header {
  height: 60px;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  position: absolute;
  margin-left: 3px;
  margin-right: 3px;
}

.headerMobileMenuIcon {
  float: right;
  padding: 10px;
  font-size: 20px;
  display: none;
  margin-top: 8px;
  margin-right: 7px;
}

.headerLogo {
  float: left;
  font-size: 30px;
  margin-left: 2px;
  margin-top: 19px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Courier New", Courier, monospace;
  color: lightgreen;
  vertical-align: middle;
}

.headerLogo a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.headerMenu {
  float: right;
  font-family: "Courier New", Courier, monospace;
  color: #9fb1bc;
  margin-top: 10px;
  margin-right: 2px;
}

.headerMenu li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.margin0percent {
  margin-left: 0px;
  margin-right: 0px;
}

@media only screen and (max-width: 900px) {
  header {
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    width: 90%;
    margin-left: 4.5vw;
    margin-right: 15vw;
  }
  .headerMenu {
    display: none;
  }
  .headerLogo {
    float: left;
    font-size: 35px;
    margin-left: 2px;
    margin-top: 5px;
    padding: 0px;
    font-family: PT Sans;
    color: #6e8898;
    vertical-align: middle;
  }
  .headerLogo a {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: mediumscreen) {
  .menu {
    display: block;
  }
}

#nav-icon3 {
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  margin-top: 9px;
  float: right;
  display: none;
}

#nav-icon3 span {
  position: absolute;
  height: 1px;
  border-radius: 10%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px;
  width: 80%;
  left: 20%;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 19px;
  width: 80%;
  left: 20%;
}

#nav-icon3 span:nth-child(4) {
  top: 38px;
  width: 80%;
  left: 20%;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
  display: none;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  display: none;
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.menu {
  z-index: 3;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: 85px;
  display: none;
}

.menu code {
  font-size: 20px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 25px;
  border-bottom: 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.menu a {
  text-decoration: none;
  color: #9fb1bc;
}

.menu ul li a:hover {
  color: white;
}

.glyphicon-home {
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  span {
    padding-left: 0px;
  }
  #span1 {
    padding-right: 0px;
  }
  #span2 {
    padding-right: 0px;
  }
  #nav-icon3 {
    display: inline;
  }
}

footer {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */