footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 101px;
  width: 100%;
}

@media only screen and (max-width: $largescreen) {

}
@media only screen and (max-width: $mediumlargescreen) {

}
@media only screen and (max-width: $mediumscreen) {

}
@media only screen and (max-width: $smallscreen) {

}
