header {
  height: 60px;
  width: 100%;
  z-index: 1;
  background-color: $menu_background;
  vertical-align: middle;
  position: absolute;
  margin-left: 3px;
  margin-right: 3px;
}

.headerMobileMenuIcon {
  float: right;
  padding: 10px;
  font-size: 20px;
  display: none;
  margin-top: 8px;
  margin-right: 7px;
}

.headerLogo {
  float: left;
  font-size: 30px;
  margin-left: 2px;
  margin-top: 19px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Courier New", Courier, monospace;
  color: $code;

  vertical-align: middle;

  a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.headerMenu {
  float: right;
  font-family: "Courier New", Courier, monospace;
  color: $lightgreygreen;
  margin-top: 10px;
  margin-right: 0px;

  li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
  }
}

.margin0percent {
  margin-left: 0px;
  margin-right: 0px;
}

@media only screen and (max-width: $largescreen) {
}
@media only screen and (max-width: $mediumlargescreen) {
}
@media only screen and (max-width: $mediumscreen) {
  header {
    background-color: $menu_background;
    height: 60px;
    width: 91%;
    left: 5%;
  }

  .headerMenu {
    display: none;
  }

  .headerLogo {
    float: left;
    font-size: 35px;
    margin-top: 5px;
    padding: 0px;
    font-family: PT Sans;

    color: $darkgreygreen;
    vertical-align: middle;

    a {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

@media only screen and (max-width: $smallscreen) {
  header {
    width: 91%;
    left: 6%;
  }
}
