header {
  height: 80px;
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
}

.headerContainer {
  background-color: $menu_background;

  transition: all 0.5s;
}

.closeMobileHeader {
  transform: translateY(-85px);
  transition: all 0.5s;
}

.headerMobileMenuIcon {
  float: right;
  font-size: 20px;
  display: none;
}

.headerLogo-1 {
}

.headerLogo {
  float: left;
  font-size: 30px;
  // padding-left: 5px;
  // padding-right: 5px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
  color: $code;
  margin-top: 20px;

  a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 17px;
    padding-right: 17px;
    box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12),
      0px 0px 0px 0px rgba(32, 77, 226, 0.24);
    transition: all 0.3s cubic-bezier(1, 1, 1, 1);
  }

  a:hover {
    box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25),
      23px 13px 23px rgba(72, 41, 211, 0.22);
  }
}

.headerMenu {
  float: right;
  font-family: "Courier New", Courier, monospace;
  color: $lightgreygreen;
  margin-top: 7px;

  li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12),
      0px 0px 0px 0px rgba(32, 77, 226, 0.24);
    transition: all 0.3s cubic-bezier(1, 1, 1, 1);
  }
  li:hover {
    box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25),
      23px 13px 23px rgba(72, 41, 211, 0.22);
  }
}

.margin0percent {
  margin-left: 0px;
  margin-right: 0px;
}

@media only screen and (max-width: $largescreen) {
}
@media only screen and (max-width: $mediumlargescreen) {
}
@media only screen and (max-width: $mediumscreen) {
  header {
    background-color: $menu_background;
    height: 45px;
    padding: 10px;
    box-shadow: none;
  }

  .headerMenu {
    display: none;
  }

  .headerLogo {
    float: left;
    font-size: 26px;
    font-family: PT Sans;

    color: $darkgreygreen;
    margin-top: 10px;
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .closeMobileHeader {
    transform: translateY(-60px);
  }
}

@media only screen and (max-width: $smallscreen) {
}
