@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Coda);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100);
body {
  background-color: #000203;
  font-family: Quicksand;
  font-size: 17px;
  color: #9fb1bc;
}

h1 {
  font-size: 70px;
  font-family: PT Sans;
  font-weight: 1000;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: PT Sans;
}

h3 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: lightgreen;
}

section {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  z-index: 0;
  padding-top: 100px;
}

button {
  background-color: inherit;
  color: #9fb1bc;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 20px;
  border-width: 0px;
}

button:hover {
  color: #d3d0cb;
  font-weight: bold;
}

header {
  height: 70px;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  position: absolute;
  margin-left: 3px;
  margin-right: 3px;
}

p {
  position: relative;
  line-height: 1.5;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

.headerMobileMenuIcon {
  float: right;
  padding: 10px;
  font-size: 20px;
  display: none;
  margin-top: 8px;
  margin-right: 7px;
}

.headerLogo {
  float: left;
  font-size: 45px;
  margin-left: 2px;
  margin-top: 9px;
  padding: 0px;
  font-family: PT Sans;
  color: #6e8898;
  vertical-align: middle;
}

.headerLogo a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  padding-right: 6px;
}

.headerMenu {
  float: right;
  font-family: "Courier New", Courier, monospace;
  color: #9fb1bc;
  margin-top: 10px;
  margin-right: 2px;
}

.headerMenu li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.margin20percent {
  margin-left: 10%;
  margin-right: 10%;
  z-index: 0;
}

.margin0percent {
  margin-left: 0px;
  margin-right: 0px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  position: relative;
  padding: 0px;
}

.nameHeading {
  color: #d3d0cb;
  font-style: strong;
}

.aboutDescriptionText {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  padding: 5px;
}

.aboutBulletList {
  -webkit-column-count: 2;
          column-count: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.aboutHeaderSlot {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.aboutProfileImg {
  width: 50%;
  padding-left: 0px;
  border-radius: 10%;
}

.aboutProfileImgSlot {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 15%;
  text-align: center;
  vertical-align: middle;
}

.titleDescriptionText {
  margin-right: 0%;
}

.gradient-border {
  --border-width: 2px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000203;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #16213b, #3c2259, #762d65, #94383a, #b19443, #90c15c, #72ca87, #90d5d4);
  background-size: 500% 500%;
  background-position: 0 100%;
  border-radius: calc(2 * var(--border-width));
  -webkit-animation: moveGradient 10s alternate infinite;
          animation: moveGradient 10s alternate infinite;
}

.verticalLine-Left {
  border: 1px solid #000203;
  height: 100vh;
  position: absolute;
  left: 40px;
  margin-top: 5px;
  bottom: 0px;
  top: 0px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #000203;
}

.headerHorizontalLine {
  width: 90%;
  margin-top: 36px;
  margin-left: 68px;
  border: 1px solid #000203;
  position: absolute;
}

.socialContainer {
  width: 10px;
  height: 285px;
  position: absolute;
  left: 9px;
  font-size: 18px;
  bottom: 30px;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.socialContainer a i {
  padding: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.card {
  background: #3f247c;
  border-radius: 2%;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 80%;
  margin: 10px;
  padding: 15px;
}

.card-1 {
  -webkit-box-shadow: 0 1px 3px rgba(160, 17, 17, 0.12), 0 1px 2px rgba(226, 32, 32, 0.24);
          box-shadow: 0 1px 3px rgba(160, 17, 17, 0.12), 0 1px 2px rgba(226, 32, 32, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  -webkit-box-shadow: 0 14px 28px rgba(231, 62, 62, 0.25), 0 10px 10px rgba(211, 41, 41, 0.22);
          box-shadow: 0 14px 28px rgba(231, 62, 62, 0.25), 0 10px 10px rgba(211, 41, 41, 0.22);
}

#nav-icon3 {
  width: 25px;
  height: 37px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 58%;
  background: #9fb1bc;
  border-radius: 10%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
  display: none;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  display: none;
}

#portfolio {
  display: inline-block;
  vertical-align: top;
}

#home {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  height: 100vh;
}

#socialLine {
  bottom: 0%;
  top: 100%;
}

#contact {
  height: 100vh;
  padding-top: 10%;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media only screen and (max-width: 865px) {
  div {
    padding: 0px;
  }
  body {
    text-align: left;
  }
  header {
    background-color: rgba(0, 0, 0, 0.8);
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  section {
    padding-top: 50px;
    height: 100%;
  }
  span {
    padding-left: 15px;
  }
  #span1 {
    padding-right: 20px;
  }
  #span2 {
    padding-right: 25px;
  }
  .card {
    background: #3f247c;
    border-radius: 2%;
    display: block;
    height: 200px;
    position: relative;
    width: 85%;
    margin-left: 5%;
    padding: 15px;
  }
  .socialContainer {
    display: none;
  }
  .headerMenu {
    display: none;
  }
  .gradient-border {
    --border-width: 1px;
  }
  .gradient-border::after {
    -webkit-animation: moveGradient 15s alternate infinite;
            animation: moveGradient 15s alternate infinite;
  }
  .headerMobileMenuIcon {
    padding: 5px;
    font-size: 20px;
    display: none;
    margin-top: 5px;
    margin-right: 2px;
    display: inline-block;
  }
  .headerLogo {
    float: left;
    font-size: 35px;
    margin-left: 2px;
    margin-top: 5px;
    padding: 0px;
    font-family: PT Sans;
    color: #6e8898;
    vertical-align: middle;
  }
  .headerLogo a {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu {
    display: inline;
  }
  .headerHorizontalLine {
    display: none;
  }
  .margin20percent {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px;
  }
  .verticalLine-Left {
    display: none;
  }
  .grid-container {
    display: inline-block;
  }
  .sectionDescriptionText {
    text-align: left;
  }
  .aboutProfilePic {
    text-align: center;
    border-radius: 50%;
  }
  #about p {
    text-align: left;
  }
  #about ul {
    text-align: left;
  }
}

@media screen and (-webkit-device-pixel-ratio) {
  .line1 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line2 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line3 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line4 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    text-shadow: 1px 1px 1px #222222;
  }
}

.menu {
  z-index: 3;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: 85px;
  display: none;
}

.menu code {
  font-size: 20px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 25px;
  border-bottom: 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.menu a {
  text-decoration: none;
  color: #9fb1bc;
}

.menu ul li a:hover {
  color: white;
}

.glyphicon-home {
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */