@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Coda);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
  background-color: #000203;
  font-family: Quicksand;
  font-size: 18px;
  color: #9fb1bc;
}

h1 {
  font-size: 70px;
  font-family: PT Sans;
  font-weight: 1000;
  margin-top: 2px;
  margin-bottom: 2px;
}

h2 {
  font-size: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
}

h3 {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: lightgreen;
}

section {
  height: 100vh;
  position: relative;
  margin-bottom: 0%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

button {
  background-color: inherit;
  color: #9fb1bc;
  font-family: Coda;
  padding: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-width: 0px;
}

button:hover {
  color: #d3d0cb;
}

header {
  height: 80px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

p {
  position: relative;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.margin20percent {
  margin-left: 20%;
  margin-right: 20%;
  z-index: 0;
}

.margin1percent {
  margin-left: 1%;
  margin-right: 1%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto, auto, auto;
      grid-template-columns: auto, auto, auto;
  grid-gap: 0px;
  height: 50%;
  position: relative;
  padding: 10px;
}

#headerLogo {
  float: left;
  font-size: 45px;
  margin-left: -10px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 2px;
  color: #6e8898;
}

#headerMenu {
  float: right;
  font-family: "Courier New", Courier, monospace;
  margin-right: 30px;
  margin-top: 23px;
  color: #9fb1bc;
}

#headerMenu li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

.nameHeading {
  color: #d3d0cb;
  font-style: strong;
}

.sectionDescriptionText {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  padding: 5px;
}

.sectionBulletList {
  -webkit-column-count: 2;
          column-count: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.sectionHeader {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  padding: 5px;
  margin-top: auto;
}

.profileImg {
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 53%;
  padding-left: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20%;
}

.verticalCenter {
  margin-top: 20%;
  position: absolute;
}

greyblue {
  color: #e2c044;
}

.titleDescriptionText {
  margin-right: 50%;
}

.gradient-border {
  --border-width: 1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background: #000203;
  border-radius: var(--border-width);
  border-radius: 5%;
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  -webkit-animation: moveGradient 20s alternate infinite;
          animation: moveGradient 20s alternate infinite;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.verticalLine-Left {
  border-left: 0px;
  height: 100px;
  position: absolute;
  left: 55px;
  margin: 0%;
  bottom: 0;
}

.headerHorizontalLine {
  width: 100%;
  margin-top: 50px;
  margin-left: 5vh;
  margin-right: 50vh;
  border-bottom: 1px;
  position: absolute;
}

.socialContainer {
  width: 25px;
  height: 285px;
  position: absolute;
  left: 27px;
  margin: 0%;
  display: block;
  font-size: 23px;
  bottom: 25px;
  display: block;
  line-height: 56px;
  padding-left: 15px;
  padding-right: 15px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #000203;
}

#socialLine {
  bottom: 0%;
  top: 100%;
}

#upperLeftVerticalLine {
  height: 1000px;
  top: 90px;
  position: absolute;
}

@media screen and (-webkit-device-pixel-ratio) {
  .line1 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line2 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line3 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
    text-shadow: 1px 1px 1px #222222;
  }
  .line4 {
    opacity: 0;
    display: block;
    -webkit-animation: slidein 3s 0s forwards;
            animation: slidein 3s 0s forwards;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    text-shadow: 1px 1px 1px #222222;
  }
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */