.card {
  background: rgb(57, 32, 116);
  border-radius: 3%;
  height: 450px;
  width: 300px;
  position: relative;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;

  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 170px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(55, 17, 160, 0.12),
    0 1px 2px rgba(132, 32, 226, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(62, 65, 231, 0.25),
    0 10px 10px rgba(72, 41, 211, 0.22);
}

.cardTitle {
  padding: 5px;
}

.cardDescription {
  padding: 5px;
}

.cardLinks {
  padding: 5px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: $largescreen) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: $mediumscreen) {
  .card {
    display: block;
    background: rgb(63, 36, 124);
    border-radius: 3%;
    position: relative;
    padding: 15px;
  }
}
