.card {
  background: rgb(57, 32, 116);
  border-radius: 3%;
  height: 500px;
  width: 310px;
  position: relative;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(55, 17, 160, 0.12),
    0 1px 2px rgba(132, 32, 226, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(62, 65, 231, 0.25),
    0 10px 10px rgba(72, 41, 211, 0.22);
}

.cardTitle {
  padding: 5px;
}

.cardDescription {
  padding: 5px;
}

.cardTech {
  padding: 5px;
  font-size: 14px;
  display: inline;
  ul {
    list-style: none;
    column-count: 2;
    column-gap: 20px;
  }

  li {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.5em;
  }

  ul li::before {
    content: "";
    width: 1em;
    margin-left: -2em;
  }
}

.cardLinks {
  padding: 5px;
  align-self: flex-end;
  a {
    padding: 5px;
    font-size: 25px;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: $largescreen) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: $mediumlargescreen) {
}

@media only screen and (max-width: $mediumscreen) {
  .card {
    display: block;
    background: rgb(63, 36, 124);
    border-radius: 3%;
    position: relative;
    padding: 15px;
    width: 70%;
    height: 50%;
  }
}

@media only screen and (max-width: $smallscreen) {
}
