.featureCard {
  border-radius: 1%;
  position: relative;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
  display: flex;
  padding: 30px;
}

.featureThumbnailContainer {
  display: grid;
  height: 400px;
  width: 60%;
  margin-top: 50px;
}

.featureThumbnail1 {
  width: 98%;
  height: 97%;
  grid-row: 1;
  grid-column: 1;
}
.featureThumbnail2 {
  width: 98%;
  height: 97%;
  grid-row: 1;
  grid-column: 2;
}
.featureThumbnail3 {
  width: 98%;
  height: 97%;
  grid-row: 2;
  grid-column: 1;
}
.featureThumbnail4 {
  width: 98%;
  height: 97%;
  grid-row: 2;
  grid-column: 2;
}

.featureCard-1 {
  box-shadow: 2px 2px 2px 2px rgba(55, 17, 160, 0.12),
    2px 2px 2px 2px rgba(132, 32, 226, 0.24);
  transition: all 0.3s cubic-bezier(1, 1, 1, 1);
}

.featureCard-1:hover {
  box-shadow: 10px 10px 10px 10px rgba(62, 65, 231, 0.25),
    10px 10px 10px 10px rgba(72, 41, 211, 0.22);
}

.featureCardInfoContainer {
  display: grid;
  width: 50%;
}

.featureCardTitle {
  font-size: 40px;
  text-align: center;
  padding: 5px;
  text-align: right;
  grid-row: 2;
}

.featureCardDescription {
  padding: 5px;
  background: rgb(57, 32, 116);
  text-align: right;
  margin-left: -80px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: 2px 2px 2px 2px rgba(55, 17, 160, 0.12),
    2px 2px 2px 2px rgba(132, 32, 226, 0.24);
  transition: all 0.3s cubic-bezier(1, 1, 1, 1);
}

.featureCardDescription:hover {
  box-shadow: 10px 10px 10px 10px rgba(62, 65, 231, 0.25),
    10px 10px 10px 10px rgba(72, 41, 211, 0.22);
}

.featureCardLinks {
  padding: 5px;
  text-align: right;
  grid-row: 6;
  a {
    padding: 5px;
    font-size: 25px;
  }
}

.featureTech {
  padding: 5px;
  text-align: right;
  grid-row: 5;
  display: inline-block;
  p {
    padding: 10px;
    font-size: 12px;
    display: inline;
  }
}

.featureTopline {
  padding: 5px;
  text-align: right;
  grid-row: 1;
  margin-bottom: 0px;
}

.featureCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

@media only screen and (max-width: $largescreen) {
  .featureCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: $mediumlargescreen) {
}

@media only screen and (max-width: $mediumscreen) {
  .featureCard {
    display: block;
    background: rgb(63, 36, 124);
    border-radius: 3%;
    position: relative;
    padding: 15px;
    width: 70%;
    height: 50%;
  }
}

@media only screen and (max-width: $smallscreen) {
}
