.featureCard {
  border-radius: 1%;
  position: relative;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
  display: flex;
  padding: 30px;
}

.featureProjectLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.featureThumbnailContainer {
  height: auto;
  margin-top: 0;
  display: inline-block;
}

.featureProjectLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featureThumbnail1 {
  width: 97%;
  height: 280px;
  padding: 5px;
}
.featureThumbnail2 {
  width: 47%;
  height: auto;
  padding: 5px;
}
.featureThumbnail3 {
  width: 47%;
  height: auto;
  padding: 5px;
}
.featureThumbnail4 {
  width: auto;
  height: 180px;
}

.featureCard-1 {
  border-radius: 55px;
  background: #0b0f2b;
  box-shadow: 1px 1px 2px #050714, -5px -5px 7px #111742;
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
}

.featureCard-1:hover {
  border-radius: 55px;
  background: #0b0f2b;
  box-shadow: 35px 35px 71px #050714, -35px -35px 71px #111742;
}

.featureCardInfoContainer {
  display: grid;
  width: 50%;
  h3 {
    padding-top: 10px;
    text-align: center;
  }
}

.featureCardTitle {
  font-size: 40px;
  text-align: center;
  padding: 5px;
  text-align: right;
  grid-row: 2;
}

.featureCardDescription {
  padding: 15px;
  background: rgb(57, 32, 116);
  text-align: right;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: 0 0 0 rgba(55, 17, 160, 0.12), 0 0 0 rgba(132, 32, 226, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.featureCardDescription:hover {
  border-radius: 30px;
  box-shadow: 3px 3px 5px #489dcf, -3px -3px 5px #62d5ff;
}

.featureCardLinks {
  padding: 5px;
  text-align: right;
  margin-top: 30px;
  grid-row: 6;
  a {
    padding: 15px;
    font-size: 25px;
    transition: all 0.2s cubic-bezier(1, 1, 1, 1);
    text-align: center;
  }
  a:hover {
    box-shadow: 3px 3px 3px 3px rgba(62, 65, 231, 0.25),
      3px 3px 3px 3px rgba(72, 41, 211, 0.22);
    border-radius: 50%;
  }
}

.featureTech {
  padding: 5px;
  text-align: right;
  grid-row: 5;
  // display: flex;
  // flex-wrap: wrap;
  ul {
    list-style: none;
    column-count: 3;
    column-gap: 10px;
  }
  li {
    padding: 5px;
    font-size: 12px;
    display: flex;
    transition: all 0.1s cubic-bezier(1, 1, 1, 1);
    line-height: 1em;
  }
}

.featureTopline {
  padding: 5px;
  text-align: right;
  grid-row: 1;
  margin-bottom: 0px;
}

.featureCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

@media only screen and (max-width: $largescreen) {
  .featureCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: $mediumlargescreen) {
}

@media only screen and (max-width: $mediumscreen) {
  .featureCard {
    display: flexbox;
    border-radius: 3%;
    position: relative;
    padding: 15px;
    width: 90%;
    height: 50%;
  }
  .featureThumbnailContainer {
    display: block;
  }
  .featureThumbnail1 {
    width: 100%;
    height: 50%;
  }
  .featureThumbnail2 {
    width: 80%;
  }
  .featureThumbnail3 {
    width: 80%;
  }
}

@media only screen and (max-width: $smallscreen) {
  .featureCard {
    border-radius: 3%;
    position: relative;
    width: 90%;
    margin: 0px;
    display: grid;
  }
  .featureProjectLeftSide {
    display: block;

    width: 100%;
  }
  .featureThumbnailContainer {
    display: block;
    grid-row: 2;
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .featureCardInfoContainer {
    display: block;
    grid-row: 1;
    width: 100%;
  }
  .featureThumbnail1 {
    width: 100%;
    height: 100%;
  }
  .featureThumbnail2 {
    width: 100%;
  }
  .featureThumbnail3 {
    width: 100%;
  }
  .featureCardDescription {
    width: 100%;
    margin-left: 0px;
  }
  .featureCardContainer {
    display: block;
    justify-content: space-between;
    padding: 5px;
  }
  .featureCardTitle {
    font-size: 40px;
    text-align: center;
    padding: 5px;
    text-align: right;
    grid-row: 1;
  }
  .featureTopline {
    padding: 5px;
    text-align: right;
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 0px;
  }
  .featureTech {
    padding: 5px;
    text-align: center;
    grid-row: 5;
    display: inline-block;
    p {
      padding: 10px;
      font-size: 12px;
      display: inline-block;
      line-height: 1em;
    }
  }

  .featureCardLinks {
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-row: 6;
    a {
      padding: 25px;
      font-size: 25px;
    }
  }
}
