.gradient-border {
  --border-width: 1px;

  position: relative;
  justify-content: center;
  align-items: center;
  background: $background;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      #000,
      hsl(222, 84%, 17%),
      hsl(269, 45%, 24%),
      hsl(314, 45%, 32%),
      #000,
      hsl(359, 45%, 40%),
      hsl(44, 45%, 48%),
      hsl(89, 45%, 56%),
      hsl(134, 45%, 62%),
      hsl(179, 45%, 70%)
    );
    background-size: 500% 500%;
    background-position: 0 100%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 90s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@media only screen and (max-width: $largescreen) {
}
@media only screen and (max-width: $mediumlargescreen) {
}
@media only screen and (max-width: $mediumscreen) {
}
@media only screen and (max-width: $smallscreen) {
}
