.verticalLine-Left {
  border: 1px solid clear;
  height: 100vh;
  position: absolute;
  left: 42px;
  margin-top: 25px;
  bottom: 0px;
  top: 0px;
}

.headerHorizontalLine {
  width: 90%;
  margin-top: 36px;
  margin-left: 68px;
  border: 1px solid clear;
  position: absolute;
}

#socialLine {
  bottom: 0%;
  top: 100%;
}

@media only screen and (max-width: $mediumscreen) {
  .headerHorizontalLine {
    display: none;
  }

  .verticalLine-Left {
    display: none;
  }
}
