.verticalLine-Left {
  border: 1px solid clear;
  height: 40vh;
  position: absolute;
  left: 30px;
  top: 70vh;
  bottom: 0px;
}

.headerHorizontalLine {
  width: 90%;
  margin-top: 36px;
  margin-left: 68px;
  border: 1px solid clear;
  position: absolute;
  z-index: -1;
}

#socialLine {
  bottom: 0%;
  top: 100%;
}

@media only screen and (max-width: $largescreen) {
}
@media only screen and (max-width: $mediumlargescreen) {
}

@media only screen and (max-width: $mediumscreen) {
  .headerHorizontalLine {
    display: none;
  }

  .verticalLine-Left {
    display: none;
  }
}

@media only screen and (max-width: $smallscreen) {
}
