.socialContainer {
  width: 10px;
  height: 285px;
  position: absolute;
  left: 9px;
  font-size: 20px;
  bottom: 30px;
  line-height: 60px;
  padding-left: 0px;
  padding-right: 15px;

  a i {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 0px 0px rgba(55, 17, 160, 0.12),
      0px 0px 0px 0px rgba(32, 77, 226, 0.24);
    transition: all 0.2s cubic-bezier(1, 1, 1, 1);
  }
  a i:hover {
    box-shadow: 3px 3px 3px rgba(62, 65, 231, 0.25),
      5px 5px 5px rgba(72, 41, 211, 0.22);
  }
}

@media only screen and (max-width: $largescreen) {
}
@media only screen and (max-width: $mediumlargescreen) {
}
@media only screen and (max-width: $mediumscreen) {
  .socialContainer {
    display: none;
  }
}

@media only screen and (max-width: $smallscreen) {
}
