a:link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $code;
}
