.aboutDescriptionText {
  padding-left: 20px;
  padding-top: 10px;

  width: 100%;
}

.aboutBulletList {
  p {
    text-decoration: underline;
    color: $code;
  }
  ul {
    list-style: none;
    column-count: 3;
    column-gap: 100px;
  }

  li {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    line-height: 1.5em;
  }

  ul li::before {
    content: "\1F892";
    color: $code;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -3em;
  }
  margin-left: 20px;
}

.aboutProfileImg {
  width: 70%;
  padding-right: 20px;
}

.aboutProfileImgSlot {
  text-align: right;
  padding-top: 25px;
  width: 100%;
  float: right;
}

.aboutHorizontalLine {
  width: 100%;
  margin-top: 0px;
  border: 0px solid $background;
}

.aboutContentContainer {
  display: inline-block;
}

.aboutBulletListContainer {
  display: inline-flex;
  padding-left: 20px;
}

.aboutFlexContainer {
  display: inline-flex;
}

#about {
  height: 100vh;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 15vh;
  width: 60%;

  h2 {
    width: 100%;
    text-align: left;
    line-height: 0px;
    margin: 20px 0 20px;
    height: 0px;
    border-bottom: 0px solid white;

    code {
      font-size: inherit;
      font-family: "Courier New", Courier, monospace;
    }
  }

  h2 span {
    background: $background;
    padding-right: 10px;
    margin-left: -1px;
  }
  display: inline-block;
}

@media only screen and (max-width: $mediumscreen) {
  .aboutProfilePic {
    text-align: center;
    border-radius: 50%;
  }

  #about {
    display: block;

    .aboutHorizontalLine {
      margin-top: 0px;
      left: 0%;
      width: 100%;
    }

    p {
      text-align: left;
      width: 100%;
    }
    ul {
      text-align: left;
    }

    .aboutContentContainer {
      display: block;
      margin-left: 0%;
      margin-right: 0%;
    }

    .aboutBulletList {
      column-count: 1;
    }
  }
}
