.aboutDescriptionText {
  padding: 5px;
  width: 100%;
}

.aboutBulletList {
  column-count: 2;
  grid-column: 1;
}

.aboutProfileImg {
  width: 70%;
}

.aboutProfileImgSlot {
  text-align: center;
  padding-top: 25px;
  width: 100%;
  float: right;
}

.aboutHorizontalLine {
  width: 100%;
  margin-top: 0px;
  border: 0px solid $background;
}

.aboutContentContainer {
  display: inline-flex;
  margin-left: 5%;
  margin-right: 0%;
}

#about {
  height: 100vh;
  .aboutHorizontalLine {
    width: 100%;
  }
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: $breakpoint) {
  .aboutProfilePic {
    text-align: center;
    border-radius: 50%;
  }

  #about {
    display: inline-block;

    .aboutHorizontalLine {
      margin-top: 0px;
      left: 0%;
      width: 100%;
    }

    p {
      text-align: left;
      width: 100%;
    }
    ul {
      text-align: left;
    }
  }
}
