// Stylesheet for the About section

.aboutDescriptionText {
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
}

.aboutBulletList {
  p {
    text-decoration: underline;
    color: $code;
  }
  ul {
    list-style: none;
    column-count: 3;
    column-gap: 100px;
  }

  li {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    line-height: 2em;
  }

  ul li::before {
    content: "";
    color: $code;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -3em;
  }
  margin-left: 20px;
}

.aboutProfileImg {
  width: 100%;
  margin-top: 10%;
  filter: grayscale(0.7);
  box-shadow: 20px 20px midnightblue;
  transition: all 0.1s cubic-bezier(1, 1, 1, 1);
}

.aboutProfileImgSlot {
  padding-top: 25px;
  justify-self: flex-end;
  text-align: right;
  margin-left: 10%;
}

.aboutProfileImg:hover {
  filter: grayscale(0);
  box-shadow: 10px 10px midnightblue;
}

.aboutHorizontalLine {
  width: 100%;
  margin-top: 0px;
  border: 0px solid $background;
}

.aboutContentContainer {
  display: block;
  width: 50%;
}

.aboutBulletListContainer {
  display: inline-flex;
  padding-left: 20px;
}

.aboutFlexContainer {
  display: flex;
}

#about {
  height: 100vh;
  left: 20%;
  padding-top: 15vh;
  width: 60%;

  h2 {
    width: 100%;
    text-align: left;
    line-height: 0px;
    margin: 20px 0 20px;
    height: 0px;
    border-bottom: 0px solid white;

    code {
      font-size: inherit;
      font-family: "Courier New", Courier, monospace;
    }
  }

  h2 span {
    background: $background;
    padding-right: 10px;
    margin-left: -1px;
  }
  display: inline-block;
}

@media only screen and (max-width: $largescreen) {
  #about {
    display: block;
    width: 80%;
    left: 10%;
    height: 100%;

    .aboutHorizontalLine {
      margin-top: 0px;
      left: 0%;
      width: 100%;
    }

    p {
      text-align: left;
      width: 100%;
    }
    ul {
      text-align: left;
    }

    .aboutContentContainer {
      display: block;
      width: 100%;
    }

    .aboutBulletList {
      column-count: 1;
    }
  }
}

@media only screen and (max-width: $mediumlargescreen) {
  #about {
    display: block;
    left: 10%;
    width: 80%;
    height: 100%;

    .aboutHorizontalLine {
      margin-top: 0px;
      left: 0%;
      width: 100%;
    }

    p {
      left: 0%;
      text-align: left;
      width: 90%;
    }
    ul {
      text-align: left;
      width: 100%;
    }

    ul li::before {
      font-weight: bold;
      display: inline;
      margin-left: -3em;
    }

    .aboutContentContainer {
      display: block;
    }

    .aboutBulletList {
      column-count: 1;
    }

    .aboutFlexContainer {
      display: block;
    }

    .aboutProfileImg {
      width: 70%;
      padding: 10px;
    }

    .aboutProfileImgSlot {
      text-align: center;
      padding-top: 25px;
      width: 100%;
      float: right;
    }
  }
}
@media only screen and (max-width: $mediumscreen) {
  #about {
    display: block;
    left: 5%;
    width: 90%;

    .aboutHorizontalLine {
      margin-top: 0px;
      left: 0%;
      width: 100%;
    }

    p {
      left: 3%;
      text-align: left;
      width: 90%;
    }

    .aboutBulletListContainer {
      display: block;
      padding-left: 20%;

      ul {
        list-style: none;
        column-count: 2;
        column-gap: 20px;
      }
    }
  }
}
@media only screen and (max-width: $smallscreen) {
  #about {
    display: block;
    left: 5%;
    width: 90%;

    .aboutHorizontalLine {
      margin-top: 0px;
      left: 0%;
      width: 100%;
    }

    p {
      left: 0%;
      text-align: left;
      width: 90%;
    }

    .aboutBulletListContainer {
      display: block;
      padding-left: 15px;

      ul {
        list-style: none;
        column-count: 2;
        column-gap: 20px;
      }
    }
  }
}
