#contact {
  height: 100vh;
  text-align: right;
  margin-right: 15vw;
  margin-left: 20vw;
  width: 55%;
  padding-top: 15vh;
  .aboutHorizontalLine {
    width: 100%;
  }

  p {
    width: 60%;
    padding-left: 38%;
  }

  h2 {
    width: 100%;
    text-align: right;
    line-height: 0px;
    margin: 20px 0 20px;
    height: 0px;
    border-bottom: 0px solid white;

    code {
      font-size: inherit;
      font-family: "Courier New", Courier, monospace;
    }
  }

  h2 span {
    background: $background;
    padding-left: 10px;
    margin-right: -1px;
  }
}

.contactDescription {
  background: $background;

  // margin-right: 0px;
  // margin-left: 0px;
}

@media only screen and (max-width: $largescreen) {
  #contact {
    display: block;
    margin-right: 15vw;
    padding-top: 10vw;
    margin-left: 20vw;
    width: 60vw;

    p {
      width: 50%;
    }

    .aboutHorizontalLine {
      margin-top: 0px;
      width: 100%;
    }
  }

  .contactDescription {
    background: $background;

    margin-right: 0px;
    margin-left: 8vw;
  }
}
