#contact {
  height: 100vh;

  width: 100%;
  padding-top: 15vh;
  .aboutHorizontalLine {
    width: 100%;
  }

  p {
    width: 60%;
    margin: 0px;
  }

  .aboutHorizontalLine {
    width: 100%;
  }
}

.contactDescription {
  margin-right: 1%;
  margin-left: 1%;
}

@media only screen and (max-width: $largescreen) {
  #contact {
    display: block;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 8vw;
    p {
      width: 100%;
    }

    .aboutHorizontalLine {
      margin-top: 0px;
      left: 0%;
      width: 100%;
    }
  }
}
