.nameHeading {
  color: $beige;
  font-style: strong;
}

.titleDescriptionText {
  margin-right: 0%;
}

#home {
  height: 100vh;
  left: 20%;
  padding-top: 15vh;
  width: 80%;
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
    font-family: PT Sans;
    color: $darkgreygreen;
  }
  p {
    width: 50%;
    margin-top: 5vh;
  }
}

@media only screen and (max-width: $largescreen) {
  #home {
    display: block;
    left: 10%;
    padding-top: 10vh;
  }
}
@media only screen and (max-width: $mediumlargescreen) {
  #home {
    display: block;
    left: 10%;
    padding-top: 10vh;
  }
}
@media only screen and (max-width: $mediumscreen) {
  #home {
    display: block;
    left: 5%;
    width: 90%;
    padding-top: 10vh;

    p {
      width: 80%;
    }
  }
}
@media only screen and (max-width: $smallscreen) {
  #home {
    display: block;
    left: 5%;
    width: 90%;
    padding-top: 8vh;

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 30px;
      font-family: PT Sans;
      color: $darkgreygreen;
    }
  }
}
