.nameHeading {
  color: $beige;
  font-style: strong;
}

.titleDescriptionText {
  margin-right: 0%;
}

#home {
  height: 100vh;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 15vh;
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
    font-family: PT Sans;
    color: $darkgreygreen;
  }
  p {
    width: 50%;
    margin-top: 5vh;
  }
}

@media only screen and (max-width: $largescreen) {
  #home {
    display: block;
    margin-left: 20vw;
    margin-right: 5vw;
    padding-top: 10vh;
  }
}
